{% extends 'base.html'%}{%block content%}
<div class="container text-dark">
  <div class="row prof1">
    <div class="col-md-12 prof2">
      <div class="row prof3">
        <div class="col-md-4 prof4">
          {% if profile.photo %}
          <ul class="list-inline">
          <li class="list-inline-item">
            <img
            class="img-fluid rounded-pill index-profile"
            src="{{profile.photo.url}}"
            alt="photo"/>
            </li>
            <li class="list-inline-item"><h4>{{profile.owner|title}}</h4></li>
           
          </ul>
          <p>{{profile.bio|title}}</p>
          {% else %}
          <ul class="list-inline">
            <li class="list-inline-item">
              <img class="img-fluid rounded-pill index-profile" src=" " />
              </li>
              <li class="list-inline-item"><h4>{{profile.owner|title}}</h4></li>
            </ul>
          {% endif %} 
        </div>
        <div class="col-md-5 prof6">
          <ul class="list-inline">
            <li class="list-inline-item">
              {% if profile.owner.id == user.profile.owner.id%}
              <a href="{% url 'image' %}"class="btn btn-outline-info">Add Post</a>
              <a href="{% url 'newprofile' %}" class="btn btn-outline-info">Edit Profile</a>
              {%else%}
              <li class="list-inline-item">
                {% if follow_status %}
                <a class="btn btn-sm btn-outline-danger ml-5" href="{% url 'unfollow' user_prof.profile.owner.id %}">Unfollow</a>
                {%else%}
                <a class="btn btn-sm btn-primary ml-5" href="{% url 'follow' user_prof.profile.owner.id %}">Follow</a>
                {% endif %}
              </li>
              {% endif %}

            </li>
          </ul>
          <ul class="list-inline">   <li class="list-inline-item">
            <span class="font-weight-bold">{{images.count}} </span> Posts
          </li>
          <li class="list-inline-item"><strong>{{ user_prof.profile.following|length }}</strong> Following</li>
          <li class="list-inline-item"><strong>{{ user_prof.profile.followers|length }}</strong>Followers</li></ul>
        </div>
      </div>
    </div>
    <hr />
    <div class="row prof8">
      {% if images %}
      {% for image in images %}
      <div class="col-md-2 prof9"> 
        <div class="card prof10" >
          <img src="{{image.image.url}}" alt="Image" class="card-img-top prof-image" />
        </div>
      </div>
     {% endfor %}{% else %}
     <h1 class="text-center">
     No Posts Yet...</h1>{% endif %}
    </div>
  </div>

  {% endblock %}
</div>
