{% extends 'base.html' %} {% block content %}
<div class="container-fluid index1">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7 index-page">
      <div class="row index2">
        {%for image in images %}
        <div class="card index-item bg bg-white">
          <div class="card-item p">
            <ul class="list-inline p">
              <li class="list-inline-item">
                <a
                  class="text-dark"
                  href="/profile/{{image.user.profile.owner.id}}"
                >
                  <img
                    src="{{image.user.profile.photo.url}}"
                    alt=""
                    class="rounded-pill index-profile"
                /></a>
                {{image.profile.bio}}
              </li>
              <li class="list-inline-item">
                <a class="text-dark" href="/profile/{{image.user.id}}"
                  ><h5>{{image.user.username|title}}</h5></a
                >
              </li>
              <li class="list-inline-item">
                <h6>{{image.imageName|title}}</h6>
              </li>
            </ul>
          </div>
          <div class="card-item indexImage">
            <a href="/imageView/{{image.id}}" class="p">
              <img src="{{image.image.url}}" alt="" class="indexImage"
            /></a>
          </div>
          <div class="card-item p">
            <ul class="list-inline p">
              <li class="list-inline-item">
                <a href="/imageView/{{image.id}}" class="p"
                  ><i
                    class="fa fa-heart btn btn-outline-danger"
                    aria-hidden="true"
                  ></i
                ></a>
                <a href="/comment/{{image.id}}">
                  <i
                    class="fa fa-comment-o btn btn-outline-info"
                    aria-hidden="true"
                  ></i
                ></a>
              </li>
              <li class="list-inline-item">
                <small>{{image.imageCaption|title}}</small>
              </li>
              <li class="list-inline-item">
                <small
                  >Posted
                  <strong>{{image.pub_date|timesince}}</strong> ago</small
                >
              </li>
            </ul>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
    <div class="col-md-3">
      <h3>People you may know</h3>

      {% for profile in profiles %}
      <a href="/profile/{{images.user.id}}" class="text-dark">
        <h5 >{{profile.owner|title}}</h5></a
      >

      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
