<nav class="navbar navbar-inverse">
  <div class="container-fluid bg-dark text-white">
    <div class="navbar-header">
      <a class="navbar-brand text-white" href="/">SniffGram</a>
    </div>
    <div class="navbar-end">
      {% if user.is_authenticated %}

      <a class="navbar-brand text-white" href="/profile/{{user.id}}"
        >{{user.username | title}}</a
      >
      <a class="navbar-brand text-white" href="/logout">Logout</a>
      {% else %}
      <a class="navbar-brand text-white" href="/login">Login</a>
      {% endif %}
      <div class="nav-search">
        <form
          class="form-inline my-2 my-lg-0"
          role="search"
          action="{% url 'search' %}"
        >
          <input
            class="form-control my-2 my-sm-0 search-input"
            name="username"
            type="search"
            placeholder="Search Users"
            aria-label="Search"
          />
        </form>
      </div>
    </div>
  </div>
</nav>
