.body {
    background: #e9ecef;
    height: 100vh;
}

.container {
    height: 80vh;
}

.body,
.container,
.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 400px;
}